body {
    background-image: url("img/background.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    font-family: 'zabars' , Arial, Helvetica, sans-serif;
}

body div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 36px;
}

h1 {
    font-size: 64px;
    letter-spacing: 10px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

canvas {
    background-color: black;
}

.instructions {
    gap: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    color: black;
    font-size: 32px;
    gap: 26px;
}

#muteButton {
    height: 50px;
    width: 150px;
    font-size: 32px;
    cursor: pointer;
}

.mute {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}

#muteButton {
    width: 50px;
    height: 50px;
}

@font-face {
    font-family: 'zabars';
    src: url('fonts/Zabars.ttf') format('truetype');
}